*{
  /*font-family: "JetBrainsMono Nerd Font", monospace;*/
  /*font-size: 15px;*/
  /*color: #ffffff;*/
  /*background-color: #000000;*/
  border: none;
  margin: 0;
  padding: 0;
}

/* Global waybar background */
/* --- Waybar Base --- */
window#waybar {
  background-color: #222222;  /* Full black bar */
  color: white;
  font-size: 15px;
  /*height: 20px;*/
  padding: 0 5px;
  font-weight : bold;

}

/* --- Workspaces Container --- */
#workspaces {
  padding: 0;
  margin: 0 2px;
}

/* --- Workspace Buttons --- */
/* --- Workspaces Container --- */
/* --- Workspace Buttons --- */
#workspaces button {
  font-size: 15px;
  padding: 0;
  margin: 0 3px;
  min-width: 25px;
  min-height: 25px;
  border-radius: 100%;
  background-color: #444444; /* Inactive workspace */
  color: #000000;
  border: none;
  transition: all 0.4s ease;
  /*text-align: center;
  line-height: 22px;*/
}

/* --- Active Workspace --- */
#workspaces button.active {
  background-color: #ffffff;  /* Active workspace: white bg */
  color: #000000;             /* Black number inside */
  font-size: 15px;
  min-width: 25px;
  min-height: 25px;
  /*line-height: 26px;*/
  font-weight: bold;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}

/* --- Urgent Workspace --- */
#workspaces button.urgent {
  background-color: #ff3c38;
  color: white;
}

/* --- Hover --- */
#workspaces button:hover {
  background-color: #006a71;
}


/* Modules Container */
.modules-right {
  margin-right: 8px;
}

/* Common Style for All Right Modules */
#mpd,
#idle_inhibitor,
#pulseaudio,

#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#sway-language,


#tray,


/* Hover effect */
#mpd:hover,
#idle_inhibitor:hover,
#pulseaudio:hover,

#power-profiles-daemon:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#backlight:hover,
#keyboard-state:hover,
#sway-language:hover,

#tray:hover,
/* Optional icon spacing */
#tray > .tray {
  margin: 0 4px;
}


#clock {
  padding: 0 5 0 5;
  margin: 0 2px;
  background-color: #222222;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.3s ease;
  min-height: 25px;
  /*line-height: 20px;*/
}

#clock:hover {
  background-color: #333333;
  color: #ffffff;
}
/* --- Battery --- */

#battery {
  font-family: "JetBrainsMono Nerd Font";
  padding: 0 5;
  margin: 0 4px;
  font-size: 18px;
  color: #ffffff;
  background-color: #222222;
  min-height: 25px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

/* Charging */
#battery.charging {
  color: #48A6A7;
}

/* Plugged in (not charging) */
#battery.plugged {
  color: #1DCD9F;
}

/* Low battery */
#battery.warning {
  color: #ffcc00;
}

/* Critically low battery */
#battery.critical {
  color: #ff3c38;
}
/* Alt or hover formatting */
#battery:hover {
  background-color:#333333;
}


/* --- Power Button --- */
#custom-power {
  padding: 0 ;
  margin: 0 3px;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 100%;
  transition: background-color 0.3s ease;
  font-weight : bold;
  min-width : 25px;
  min-height : 25px;
}

/* Hover effect */
#custom-power:hover {
  background-color: #ff3c38;
  color: #ffffff;
  font-weight: bold;
  
}


#network {
  padding : 0 15 0 15;
  margin : 0 2 0 2;
  background-color: #222222;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.3s ease;
  min-height: 25px;
}

#network:hover {
  background-color: #333333;
  color: #ffffff;
}
