*{
  /*font-family: "JetBrainsMono Nerd Font", monospace;*/
  /*font-size: 15px;*/
  /*color: #ffffff;*/
  /*background-color: #000000;*/
  border: none;
  margin: 0;
  padding: 0;
}

/* Global waybar background */
/* --- Waybar Base --- */
window#waybar {
  background-color: #222222;  /* Full black bar */
  color: white;
  font-size: 15px;
  /*height: 20px;*/
  padding: 0 5px;
  font-weight : bold;

}

/* --- Workspaces Container --- */
#workspaces {
  padding: 0;
  margin: 0 2px;
}

/* --- Workspace Buttons --- */
/* --- Workspaces Container --- */
/* --- Workspace Buttons --- */
#workspaces button {
  font-size: 15px;
  padding: 0;
  margin: 0 3px;
  min-width: 25px;
  min-height: 25px;
  border-radius: 100%;
  background-color: #444444; /* Inactive workspace */
  color: #000000;
  border: none;
  transition: all 0.4s ease;
  /*text-align: center;
  line-height: 22px;*/
}

/* --- Active Workspace --- */
#workspaces button.active {
  background-color: #ffffff;  /* Active workspace: white bg */
  color: #000000;             /* Black number inside */
  font-size: 15px;
  min-width: 25px;
  min-height: 25px;
  /*line-height: 26px;*/
  font-weight: bold;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}

/* --- Urgent Workspace --- */
#workspaces button.urgent {
  background-color: #ff3c38;
  color: white;
}

/* --- Hover --- */
#workspaces button:hover {
  background-color: #006a71;
}


/* Modules Container */
.modules-right {
  margin-right: 8px;
}

/* Common Style for All Right Modules */
#mpd,
#cpu,
#memory,
#temperature,
#keyboard-state,
#sway-language,

/* Hover effect */
#mpd:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#keyboard-state:hover,
#sway-language:hover,


#clock {
  padding: 0 4;
  margin: 0 0px;
  background-color: #222222;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.3s ease;
  min-height: 25px;
  /*line-height: 20px;*/
}

#clock:hover {
  background-color: #333333;
  color: #ffffff;
}
/* --- Battery --- */

#battery {
  font-family: "JetBrainsMono Nerd Font";
  padding: 0 4;
  margin: 0 0;
  font-size: 18px;
  color: #ffffff;
  background-color: #222222;
  min-height: 25px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

/* Charging */
#battery.charging {
  color: #48A6A7;
}

/* Plugged in (not charging) */
#battery.plugged {
  color: #1DCD9F;
}

/* Low battery */
#battery.warning {
  color: #ffcc00;
}

/* Critically low battery */
#battery.critical {
  color: #ff3c38;
}
/* Alt or hover formatting */
#battery:hover {
  background-color:#333333;
}


/* --- Power Button --- */
#custom-power {
  padding: 0 ;
  margin: 0 0;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 100%;
  transition: background-color 0.3s ease;
  font-weight : bold;
  min-width : 25px;
  min-height : 25px;
}

/* Hover effect */
#custom-power:hover {
  background-color: #ff3c38;
  color: #ffffff;
  font-weight: bold;
  
}


#network {
  padding : 0px 4px;
  margin : 0px 0px;
  background-color: #222222;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.3s ease;
  min-height: 25px;
}

#network:hover {
  background-color: #333333;
  color: #ffffff;
}

#pulseaudio {
  padding : 0 4px;
  margin : 0 0px;
  background-color : #222222;
  border-radius : 6px;
  font-size : 15px;
  font-weight : bold;
  color : #ffffff;
  transition : background-color 0.3s ease;
  min-height : 25px;
}

#pulseaudio:hover {
  background-color: #333333;
  color: #ffffff;
}

#backlight {
  padding : 0 4;
  margin : 0 0;
  background-color : #222222;
  border-radius : 6px;
  font-size : 15px;
  font-weight : bold;
  color : #ffffff;
  transition : background-color 0.3s ease;
  min-height : 25px;
}

#backlight:hover{
  background-color:#333333;
  color : #ffffff;
}


#bluetooth {
  font-family : "JetBrainsMono Nerd Font";
  padding : 0 4;
  margin: 0 0;
  background-color : #222222;
  border-radius : 6px;
  font-weight : bold;
  font-size : 15px;
  color : #ffffff;
  transition : background-color 0.3s ease;
  min-height : 25px;
}

#bluetooth:hover {
  background-color : #333333;
  color : #ffffff;
}


#power-profiles-daemon {
  padding : 0 4;
  margin : 0 0;
  background-color : #222222;
  border-radius : 6px;
  font-weight : bold;
  font-size : 15px;
  color : #ffffff;
  transition : background-color 0.3s ease;
  min-height : 25px;

}

#power-profiles-daemon:hover {
  background-color : #333333;
  color: #ffffff;
}

#power-profiles-daemon.performance {
  color : #ffcc00;
}

#power-profiles-daemon.power-saver {
  color : #1dcd9f;
}

#idle_inhibitor {
  padding : 0 4;
  margin : 0 0;
  background-color : #222222;
  border-radius : 6px;
  font-weight : bold;
  font-size : 15px;
  color : #ffffff;
  transition : background-color 0.3s ease;
  min-height : 25px;
}

#idle_inhibitor:hover {
  background-color : #333333;
  color : #ffffff;
}
